.idea/
restservise_and_logic/.classpath
restservise_and_logic/.project
restservise_and_logic/.settings/org.eclipse.core.resources.prefs
restservise_and_logic/.settings/org.eclipse.jdt.apt.core.prefs
restservise_and_logic/.settings/org.eclipse.jdt.core.prefs
restservise_and_logic/.settings/org.eclipse.m2e.core.prefs
