

body{
    #our-story {
        width: 100%;
        padding: 50px 0px;

        .container {
            width: 70%;
            margin: auto;

            .content {
                display: grid;

                .our-story {
                    h2 {
                        font-family: $heading-font;
                        margin: 20px 0px;
                        font-size: 30px;
                        text-align: center;
                    }

                    p {
                        text-align: center;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    #about-us {
        width: 100%;
        padding: 50px 0px;
        background-color: $custom-lighter-grey;

        .container {
            width: 70%;
            margin: auto;

            .content {
                display: grid;

                .about-us {
                    h2 {
                        font-family: $heading-font;
                        margin: 20px 0px;
                        font-size: 30px;
                        text-align: center;
                    }

                    p {
                        text-align: center;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}