

body{
    #menu-content {
        position: relative;
        padding: 50px 0px;
        .bg-image{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -999;
            width: 100%;
            height: 100%;
            background-image: url(/../img/menu.jpg);
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

        .mask {
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            width: inherit;
            height: inherit;
            background-color: $custom-grey;
            z-index: -888;
            opacity: 0.9;
        }

        .container {
            width: 70%;
            margin: auto;

            .title {
                h2 {
                    font-family: $heading-font;
                    font-size: 30px;
                    margin-bottom: 50px;
                    width: 100%;
                    text-align: center;
                    color: white;
                }
            }

            .menu {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 30px;

                article {
                    position: relative;
                    justify-content: center;
                    background-color: transparent;

                    h2 {
                        width: 100%;
                        font-family: $heading-font;
                        font-size: 25px;
                        text-align: center;
                        margin: 10px 0px;
                        color: white
                    }

                    img {
                        width: 100%;
                    }

                    p {
                        text-align: center;
                        margin: 10px 0px 100px 0px;
                        color: white;
                    }

                    .order-btn {
                        position: absolute;
                        bottom: 0px;
                        width: 100%;
                        height: 50px;
                        background-color: transparent;
                        border: none;
                        color: $custom-yellow;
                        text-transform: uppercase;
                        font-weight: 300;
                        cursor: pointer;
                        font-size: 25px;
                        font-weight: bold;
                        text-decoration: none;
                        line-height: 50px;
                        text-align: center;
                        border: 2px solid $custom-yellow;
                        transition: 0.5s;
                        border-radius: 5px;
                    }
                    .order-btn:hover{
                        background-color: $custom-yellow;
                        color: white;
                        
                    }
                }
            }
        }
    }
}