body{
    #profile-content{
        width: 100%;
        height: 100vh;
        background-color: $custom-lighter-grey;
        display: grid;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
        .profile{
            background-color: white;
            width: 400px;
            padding: 40px 0px 40px 0px;
            -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.4);
            -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.4);
            box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.4);     
            *{
                margin: 5px auto 5px auto;
            }
            .info{
                margin: 30px 0px 30px;
                .info-block{
                    width: 90%;
                    height: 50px;
                    color: $custom-grey;
                    background-color: $custom-lighter-grey2;
                    padding: 0px 10px 0px 10px;
                    border-radius: 10px;
                    
                }
            }
            .icon{
                height: 120px;
                width: 120px;
                background-image: url(/../img/user.svg); 
            }
            h2{
                width: 100%;
                text-align: center;
                color: $custom-grey;
            }
            h5{
                line-height: 50px;
            }

            .sign-out{
                text-align: center;
                line-height: 40px;  
                text-decoration: none;
                margin-top: 40px;
                width: 200px;
                height: 40px;
                background-color: $custom-yellow-darker;
                border-radius: 5px;
                border: none;
                color: white;
                cursor: pointer;
                font-size: 15px;
                font-weight: bold;
                display: block;
                transition: 0.5s;
            }
            
        }
    }
}