body{
    #register-content{
        width: 100%;
        height: 100vh;
        background-color: white;
        display: grid;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
        form{
            background-color: white;
            width: 400px;
            padding: 60px 0px 60px 0px;
            border-radius: 10px;
            -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.2);
            -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.2);
            box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.2);     
            *{
                margin: 20px auto 20px auto;
            }
            .icon{
                height: 120px;
                width: 120px;
                background-image: url(/../img/gmail.svg); 
            }
            .gmail-btn{
                text-align: center;
                line-height: 40px;  
                text-decoration: none;
                margin-top: 40px;
                width: 200px;
                height: 40px;
                background-color: $google-blue;
                border-radius: 5px;
                border: none;
                color: white;
                cursor: pointer;
                font-size: 15px;
                font-weight: bold;
                display: block;
                transition: 0.5s;
            }
            .gmail-btn:hover{
                background-color: $google-grey;
                color: white;
            }
        }
    }
}