@import "custom-variables";
@import "body";
@import "start-page";
@import "header";
@import "landing-page";
@import "home-content";
@import "menu-content";
@import "gallery-content";
@import "aboutus-content";
@import "contact-content";
@import "register-content";
@import "profile-page";
@import "product-content";
@import "footer";
@import "responsive";