/* montserrat-100 - latin */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url("/../fonts/montserrat-v13-latin-100.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Thin"), local("Montserrat-Thin"), url("/../fonts/montserrat-v13-latin-100.eot?#iefix") format("embedded-opentype"), url("/../fonts/montserrat-v13-latin-100.woff2") format("woff2"), url("/../fonts/montserrat-v13-latin-100.woff") format("woff"), url("/../fonts/montserrat-v13-latin-100.ttf") format("truetype"), url("/../fonts/montserrat-v13-latin-100.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-100italic - latin */

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  src: url("/../fonts/montserrat-v13-latin-100italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"), url("/../fonts/montserrat-v13-latin-100italic.eot?#iefix") format("embedded-opentype"), url("/../fonts/montserrat-v13-latin-100italic.woff2") format("woff2"), url("/../fonts/montserrat-v13-latin-100italic.woff") format("woff"), url("/../fonts/montserrat-v13-latin-100italic.ttf") format("truetype"), url("/../fonts/montserrat-v13-latin-100italic.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-200 - latin */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url("/../fonts/montserrat-v13-latin-200.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("/../fonts/montserrat-v13-latin-200.eot?#iefix") format("embedded-opentype"), url("/../fonts/montserrat-v13-latin-200.woff2") format("woff2"), url("/../fonts/montserrat-v13-latin-200.woff") format("woff"), url("/../fonts/montserrat-v13-latin-200.ttf") format("truetype"), url("/../fonts/montserrat-v13-latin-200.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-200italic - latin */

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  src: url("/../fonts/montserrat-v13-latin-200italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat ExtraLight Italic"), local("Montserrat-ExtraLightItalic"), url("/../fonts/montserrat-v13-latin-200italic.eot?#iefix") format("embedded-opentype"), url("/../fonts/montserrat-v13-latin-200italic.woff2") format("woff2"), url("/../fonts/montserrat-v13-latin-200italic.woff") format("woff"), url("/../fonts/montserrat-v13-latin-200italic.ttf") format("truetype"), url("/../fonts/montserrat-v13-latin-200italic.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-300 - latin */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("/../fonts/montserrat-v13-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Light"), local("Montserrat-Light"), url("/../fonts/montserrat-v13-latin-300.eot?#iefix") format("embedded-opentype"), url("/../fonts/montserrat-v13-latin-300.woff2") format("woff2"), url("/../fonts/montserrat-v13-latin-300.woff") format("woff"), url("/../fonts/montserrat-v13-latin-300.ttf") format("truetype"), url("/../fonts/montserrat-v13-latin-300.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-300italic - latin */

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: url("/../fonts/montserrat-v13-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url("/../fonts/montserrat-v13-latin-300italic.eot?#iefix") format("embedded-opentype"), url("/../fonts/montserrat-v13-latin-300italic.woff2") format("woff2"), url("/../fonts/montserrat-v13-latin-300italic.woff") format("woff"), url("/../fonts/montserrat-v13-latin-300italic.ttf") format("truetype"), url("/../fonts/montserrat-v13-latin-300italic.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-regular - latin */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("/../fonts/montserrat-v13-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("/../fonts/montserrat-v13-latin-regular.eot?#iefix") format("embedded-opentype"), url("/../fonts/montserrat-v13-latin-regular.woff2") format("woff2"), url("/../fonts/montserrat-v13-latin-regular.woff") format("woff"), url("/../fonts/montserrat-v13-latin-regular.ttf") format("truetype"), url("/../fonts/montserrat-v13-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-italic - latin */

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("/../fonts/montserrat-v13-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url("/../fonts/montserrat-v13-latin-italic.eot?#iefix") format("embedded-opentype"), url("/../fonts/montserrat-v13-latin-italic.woff2") format("woff2"), url("/../fonts/montserrat-v13-latin-italic.woff") format("woff"), url("/../fonts/montserrat-v13-latin-italic.ttf") format("truetype"), url("/../fonts/montserrat-v13-latin-italic.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-500 - latin */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("/../fonts/montserrat-v13-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("/../fonts/montserrat-v13-latin-500.eot?#iefix") format("embedded-opentype"), url("/../fonts/montserrat-v13-latin-500.woff2") format("woff2"), url("/../fonts/montserrat-v13-latin-500.woff") format("woff"), url("/../fonts/montserrat-v13-latin-500.ttf") format("truetype"), url("/../fonts/montserrat-v13-latin-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-500italic - latin */

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url("/../fonts/montserrat-v13-latin-500italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("/../fonts/montserrat-v13-latin-500italic.eot?#iefix") format("embedded-opentype"), url("/../fonts/montserrat-v13-latin-500italic.woff2") format("woff2"), url("/../fonts/montserrat-v13-latin-500italic.woff") format("woff"), url("/../fonts/montserrat-v13-latin-500italic.ttf") format("truetype"), url("/../fonts/montserrat-v13-latin-500italic.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-600 - latin */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("/../fonts/montserrat-v13-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("/../fonts/montserrat-v13-latin-600.eot?#iefix") format("embedded-opentype"), url("/../fonts/montserrat-v13-latin-600.woff2") format("woff2"), url("/../fonts/montserrat-v13-latin-600.woff") format("woff"), url("/../fonts/montserrat-v13-latin-600.ttf") format("truetype"), url("/../fonts/montserrat-v13-latin-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-600italic - latin */

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: url("/../fonts/montserrat-v13-latin-600italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"), url("/../fonts/montserrat-v13-latin-600italic.eot?#iefix") format("embedded-opentype"), url("/../fonts/montserrat-v13-latin-600italic.woff2") format("woff2"), url("/../fonts/montserrat-v13-latin-600italic.woff") format("woff"), url("/../fonts/montserrat-v13-latin-600italic.ttf") format("truetype"), url("/../fonts/montserrat-v13-latin-600italic.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("/..//../fonts/montserrat-v13-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("/../fonts/montserrat-v13-latin-700.eot?#iefix") format("embedded-opentype"), url("/../fonts/montserrat-v13-latin-700.woff2") format("woff2"), url("/../fonts/montserrat-v13-latin-700.woff") format("woff"), url("/../fonts/montserrat-v13-latin-700.ttf") format("truetype"), url("/../fonts/montserrat-v13-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700italic - latin */

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("/../fonts/montserrat-v13-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url("/../fonts/montserrat-v13-latin-700italic.eot?#iefix") format("embedded-opentype"), url("/../fonts/montserrat-v13-latin-700italic.woff2") format("woff2"), url("/../fonts/montserrat-v13-latin-700italic.woff") format("woff"), url("/../fonts/montserrat-v13-latin-700italic.ttf") format("truetype"), url("/../fonts/montserrat-v13-latin-700italic.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-800 - latin */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("/../fonts/montserrat-v13-latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("/../fonts/montserrat-v13-latin-800.eot?#iefix") format("embedded-opentype"), url("/../fonts/montserrat-v13-latin-800.woff2") format("woff2"), url("/../fonts/montserrat-v13-latin-800.woff") format("woff"), url("/../fonts/montserrat-v13-latin-800.ttf") format("truetype"), url("/../fonts/montserrat-v13-latin-800.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-800italic - latin */

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  src: url("/../fonts/montserrat-v13-latin-800italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"), url("/../fonts/montserrat-v13-latin-800italic.eot?#iefix") format("embedded-opentype"), url("/../fonts/montserrat-v13-latin-800italic.woff2") format("woff2"), url("/../fonts/montserrat-v13-latin-800italic.woff") format("woff"), url("/../fonts/montserrat-v13-latin-800italic.ttf") format("truetype"), url("/../fonts/montserrat-v13-latin-800italic.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-900 - latin */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("/../fonts/montserrat-v13-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Black"), local("Montserrat-Black"), url("/../fonts/montserrat-v13-latin-900.eot?#iefix") format("embedded-opentype"), url("/../fonts/montserrat-v13-latin-900.woff2") format("woff2"), url("/../fonts/montserrat-v13-latin-900.woff") format("woff"), url("/../fonts/montserrat-v13-latin-900.ttf") format("truetype"), url("/../fonts/montserrat-v13-latin-900.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-900italic - latin */

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  src: url("/../fonts/montserrat-v13-latin-900italic.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"), url("/../fonts/montserrat-v13-latin-900italic.eot?#iefix") format("embedded-opentype"), url("/../fonts/montserrat-v13-latin-900italic.woff2") format("woff2"), url("/../fonts/montserrat-v13-latin-900italic.woff") format("woff"), url("/../fonts/montserrat-v13-latin-900italic.ttf") format("truetype"), url("/../fonts/montserrat-v13-latin-900italic.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: url("/../fonts/pacifico-v13-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url("/../fonts/pacifico-v13-latin-regular.eot?#iefix") format("embedded-opentype"), url("/../fonts/pacifico-v13-latin-regular.woff2") format("woff2"), url("/../fonts/pacifico-v13-latin-regular.woff") format("woff"), url("/../fonts/pacifico-v13-latin-regular.ttf") format("truetype"), url("/../fonts/pacifico-v13-latin-regular.svg#Pacifico") format("svg");
  /* Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Montserrat;
  overflow-x: hidden;
}

body.no-scroll {
  overflow-y: hidden;
}

body #grid-start-page {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  background-color: #27282A;
}

body #grid-start-page .start-page-content h1 {
  font-family: Pacifico;
  color: white;
  position: relative;
  z-index: 5;
  text-align: center;
  font-size: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body #grid-start-page .start-page-content h3 {
  position: relative;
  z-index: 5;
  color: white;
  font-weight: 300;
  text-align: center;
  margin: 20px 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body #grid-start-page .start-page-content .loader {
  position: relative;
  top: 0px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-bottom: 50px;
  margin-top: 50px;
  border: none;
  z-index: 5;
  border-radius: 50%;
  border-top: 3px solid #F0F0F0;
  border-right: 3px solid transparent;
  -webkit-animation: rotation360 1s linear infinite, hide 0s ease-in 10s forwards;
          animation: rotation360 1s linear infinite, hide 0s ease-in 10s forwards;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body #grid-start-page .start-page-content a {
  width: 0px;
  height: 0px;
  left: 50%;
  margin-left: -100px;
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  font-family: Montserrat;
  position: relative;
  z-index: 5;
  transition: 0.5s;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  visibility: hidden;
  -webkit-animation: show 0s ease-in 10s forwards;
          animation: show 0s ease-in 10s forwards;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body #grid-start-page .start-page-content a:hover {
  color: black;
}

body #grid-start-page .start-page-content a::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: white;
  bottom: -60px;
  z-index: -1;
  transition: 0.5s;
}

body #grid-start-page .start-page-content a:hover::after {
  bottom: 0px;
}

body #grid-start-page .game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0px;
  outline: none;
  padding: 0px;
  border: none;
}

body #grid-start-page h2 {
  color: white;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body #grid-start-page #myCanvas {
  width: 100%;
  height: 99vh;
  -webkit-animation: hide 0s ease-in 10s forwards;
          animation: hide 0s ease-in 10s forwards;
  border: none;
}

@-webkit-keyframes rotation360 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation360 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes hide {
  to {
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
}

@keyframes hide {
  to {
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
}

@-webkit-keyframes show {
  to {
    width: 200px;
    height: 50px;
    visibility: visible;
  }
}

@keyframes show {
  to {
    width: 200px;
    height: 50px;
    visibility: visible;
  }
}

body header.fixed {
  position: fixed;
}

body header {
  background-color: white;
  width: 100%;
  z-index: 10000;
  border-bottom: 1px solid #bbbbbb;
  box-shadow: 0px 1px 9px -3px rgba(0, 0, 0, 0.75);
}

body header .container {
  width: 95%;
  margin: auto;
}

body header .c2r1 {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
  height: 70px;
}

body header .c2r1 .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

body header .c2r1 .title img {
  margin: 0px 20px 0px 0px;
}

body header .c2r1 .title h1 {
  color: black;
  font-family: Pacifico;
  font-size: 25px;
}

body header .c2r1 nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body header .c2r1 nav ul {
  display: flex;
}

body header .c2r1 nav ul li {
  list-style: none;
}

body header .c2r1 nav ul li a {
  text-decoration: none;
  margin-left: 20px;
  text-transform: uppercase;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

body header .c2r1 nav ul li a:hover {
  color: #e8af00;
}

body header .c2r1 nav ul li a.sign-up {
  border-radius: 5px;
  padding: 10px;
  transition: 0.5s;
  color: white;
  background-color: #e8af00;
}

body header .c2r1 nav ul li a.sign-up:hover {
  background-color: #FFD34A;
}

body header .c2r1 nav ul.active {
  left: 0px;
}

body header .c2r1 nav .menu-trigger {
  display: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

body #title-image {
  width: 100%;
  height: 500px;
  position: relative;
}

body #title-image .bg-image {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: inherit;
  height: inherit;
  background-image: url(/../img/pexels-photo-724216.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -9999;
}

body #title-image .mask {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: inherit;
  height: inherit;
  background-color: #27282A;
  z-index: -888;
  opacity: 0.8;
}

body #title-image .container {
  width: 80%;
  height: inherit;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

body #title-image .container .header-content {
  text-align: center;
}

body #title-image .container .header-content h2 {
  font-family: Pacifico;
  font-size: 40px;
  color: white;
}

body #title-image .container .header-content h4 {
  font-weight: 300;
  color: white;
}

body #welcome {
  width: 100%;
  background-color: #F0F0F0;
  padding: 50px 0px;
}

body #welcome .container {
  width: 70%;
  margin: auto;
}

body #welcome .c2r1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

body #welcome .c2r1 .welcome-text h2 {
  font-family: Pacifico;
  font-size: 30px;
}

body #welcome .c2r1 .welcome-text h3 {
  text-transform: uppercase;
  margin: 20px 0px;
  font-size: 25px;
  font-weight: 300;
}

body #welcome .c2r1 .welcome-text p {
  text-align: justify;
}

body #welcome .c2r1 img {
  width: 100%;
}

body #our-team {
  width: 100%;
  padding: 50px 0px;
}

body #our-team .container {
  width: 70%;
  margin: auto;
}

body #our-team .container .title h2 {
  text-align: center;
  margin: 0px 0px 20px 0px;
  font-family: "Pacifico";
  font-size: 30px;
}

body #our-team .container .team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

body #our-team .container .team img {
  width: 100%;
}

body #our-team .container .team h3 {
  margin: 10px 0px;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
}

body #menu-content {
  position: relative;
  padding: 50px 0px;
}

body #menu-content .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  width: 100%;
  height: 100%;
  background-image: url(/../img/menu.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body #menu-content .mask {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: inherit;
  height: inherit;
  background-color: #27282A;
  z-index: -888;
  opacity: 0.9;
}

body #menu-content .container {
  width: 70%;
  margin: auto;
}

body #menu-content .container .title h2 {
  font-family: Pacifico;
  font-size: 30px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
  color: white;
}

body #menu-content .container .menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

body #menu-content .container .menu article {
  position: relative;
  justify-content: center;
  background-color: transparent;
}

body #menu-content .container .menu article h2 {
  width: 100%;
  font-family: Pacifico;
  font-size: 25px;
  text-align: center;
  margin: 10px 0px;
  color: white;
}

body #menu-content .container .menu article img {
  width: 100%;
}

body #menu-content .container .menu article p {
  text-align: center;
  margin: 10px 0px 100px 0px;
  color: white;
}

body #menu-content .container .menu article .order-btn {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  color: #FFD34A;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  line-height: 50px;
  text-align: center;
  border: 2px solid #FFD34A;
  transition: 0.5s;
  border-radius: 5px;
}

body #menu-content .container .menu article .order-btn:hover {
  background-color: #FFD34A;
  color: white;
}

body #gallery-content {
  padding: 50px 0px;
}

body #gallery-content .container {
  width: 50%;
  margin: auto;
}

body #gallery-content .container .title h2 {
  font-family: Pacifico;
  font-size: 30px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}

body #gallery-content .container .gallery {
  display: grid;
  width: 100%;
  height: 1000px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 30px;
}

body #gallery-content .container .gallery .image {
  background-position: center;
  background-size: cover;
}

body #gallery-content .container .gallery #image1 {
  grid-column: 1/7;
  grid-row: 1/4;
  background-image: url(/../img/gallery/1.jpg);
}

body #gallery-content .container .gallery #image2 {
  grid-column: 7/13;
  grid-row: 1/4;
  background-image: url(/../img/gallery/2.jpg);
}

body #gallery-content .container .gallery #image3 {
  grid-column: 1/13;
  grid-row: 4/7;
  background-image: url(/../img/gallery/3.jpg);
}

body #gallery-content .container .gallery #image4 {
  grid-column: 1/7;
  grid-row: 7/13;
  background-image: url(/../img/gallery/4.jpg);
}

body #gallery-content .container .gallery #image5 {
  grid-column: 7/13;
  grid-row: 7/10;
  background-image: url(/../img/gallery/5.jpg);
}

body #gallery-content .container .gallery #image6 {
  grid-column: 7/13;
  grid-row: 10/13;
  background-image: url(/../img/gallery/6.jpg);
}

body #our-story {
  width: 100%;
  padding: 50px 0px;
  background-color: #F0F0F0;
}

body #our-story .container {
  width: 70%;
  margin: auto;
}

body #our-story .container .content {
  display: grid;
}

body #our-story .container .content .our-story h2 {
  font-family: Pacifico;
  margin: 20px 0px;
  font-size: 30px;
  text-align: center;
}

body #our-story .container .content .our-story p {
  text-align: center;
  font-size: 20px;
}

body #about-us {
  width: 100%;
  padding: 50px 0px;
  position: relative;
}

body #about-us .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  width: 100%;
  height: 100%;
  background-image: url(/../img/aboutus.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body #about-us .mask {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: inherit;
  height: inherit;
  background-color: #27282A;
  z-index: -888;
  opacity: 0.8;
}

body #about-us .container {
  width: 70%;
  margin: auto;
}

body #about-us .container .content {
  display: grid;
}

body #about-us .container .content .about-us h2 {
  font-family: Pacifico;
  margin: 20px 0px;
  font-size: 30px;
  text-align: center;
  color: white;
}

body #about-us .container .content .about-us p {
  text-align: center;
  font-size: 20px;
  color: white;
}

body #contact {
  position: relative;
}

body #contact .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  width: 100%;
  height: 100%;
  background-image: url(/../img/contact.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body #contact .mask {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: inherit;
  height: inherit;
  background-color: #27282A;
  z-index: -888;
  opacity: 0.8;
}

body #contact .title {
  display: grid;
  height: 60px;
}

body #contact .title h2 {
  font-family: Pacifico;
  font-size: 30px;
  text-align: center;
  color: white;
  margin: 30px 0px 30px 0px;
}

body #contact .container {
  width: 50%;
  margin: auto;
}

body #contact .container .contact-content {
  padding: 100px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 50px;
}

body #contact .container .contact-content .text {
  display: grid;
}

body #contact .container .contact-content .text h2 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: white;
}

body #contact .container .contact-content .text p {
  width: 100%;
  text-align: center;
  color: white;
}

body #contact .container form input[type=text] {
  height: 40px;
  width: 100%;
  margin: 5px 0px;
  padding-left: 10px;
  color: #FFD34A;
  background-color: transparent;
  border: 2px solid #FFD34A;
}

body #contact .container form input[type=text]::-webkit-input-placeholder,
body #contact .container form textarea::-webkit-input-placeholder {
  color: rgba(255, 211, 74, 0.5);
}

body #contact .container form input[type=text]::-moz-placeholder,
body #contact .container form textarea::-moz-placeholder {
  color: rgba(255, 211, 74, 0.5);
}

body #contact .container form input[type=text]:-ms-input-placeholder,
body #contact .container form textarea:-ms-input-placeholder {
  color: rgba(255, 211, 74, 0.5);
}

body #contact .container form input[type=text]::-ms-input-placeholder,
body #contact .container form textarea::-ms-input-placeholder {
  color: rgba(255, 211, 74, 0.5);
}

body #contact .container form input[type=text]::placeholder,
body #contact .container form textarea::placeholder {
  color: rgba(255, 211, 74, 0.5);
}

body #contact .container form textarea {
  padding: 10px;
  width: 100%;
  resize: none;
  color: #FFD34A;
  background-color: transparent;
  border: 2px solid #FFD34A;
}

body #contact .container form input[type=text]:focus,
body #contact .container form textarea:focus {
  outline: none;
}

body #contact .container input[type=button] {
  height: 40px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  background-color: #FFD34A;
  color: white;
  transition: 0.5s;
}

body #contact .container input[type=button]:hover {
  background-color: #e8af00;
  cursor: pointer;
}

body #our-location .title {
  width: 100%;
  height: 60px;
  background-color: #F0F0F0;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #27282A;
}

body #our-location .title h2 {
  font-family: Pacifico;
  font-size: 30px;
  color: white;
}

body #register-content {
  width: 100%;
  height: 100vh;
  background-color: #F0F0F0;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}

body #register-content form {
  background-color: white;
  width: 400px;
  padding: 60px 0px 60px 0px;
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.4);
}

body #register-content form * {
  margin: 20px auto 20px auto;
}

body #register-content form .icon {
  height: 120px;
  width: 120px;
  background-image: url(/../img/gmail.svg);
}

body #register-content form .gmail-btn {
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  margin-top: 40px;
  width: 200px;
  height: 40px;
  background-color: #2196F3;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  display: block;
  box-shadow: 4px 3px 3px -2px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}

body #register-content form .gmail-btn:hover {
  background-color: white;
  color: #757575;
  border: 1px solid #757575;
}

body #profile-content {
  width: 100%;
  height: 100vh;
  background-color: #F0F0F0;
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}

body #profile-content .profile {
  background-color: white;
  width: 400px;
  padding: 40px 0px 40px 0px;
  box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.4);
}

body #profile-content .profile * {
  margin: 5px auto 5px auto;
}

body #profile-content .profile .info {
  margin: 30px 0px 30px;
}

body #profile-content .profile .info .info-block {
  width: 90%;
  height: 50px;
  color: #27282A;
  background-color: #dbdbdb;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
}

body #profile-content .profile .icon {
  height: 120px;
  width: 120px;
  background-image: url(/../img/user.svg);
}

body #profile-content .profile h2 {
  width: 100%;
  text-align: center;
  color: #27282A;
}

body #profile-content .profile h5 {
  line-height: 50px;
}

body #profile-content .profile .sign-out {
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  margin-top: 40px;
  width: 200px;
  height: 40px;
  background-color: #e8af00;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  display: block;
  transition: 0.5s;
}

body #product-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: calc(100vh - 70px);
}

body #product-content .product-img img {
  width: 100%;
  height: 100%;
}

body #product-content .info {
  position: relative;
  padding: 50px 20px 50px 20px;
}

body #product-content .info h2 {
  color: #27282A;
}

body #product-content .info h2.pizza-name {
  font-family: Pacifico;
}

body #product-content .info h2.info-title {
  color: #e8af00;
}

body #product-content .info select {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
}

body #product-content .info select:focus {
  outline: none;
}

body #product-content .info input[type=text] {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
  padding-left: 5px;
  border: none;
  border: 1px solid #27282A;
}

body #product-content .info a.order-btn {
  width: 150px;
  height: 40px;
  text-decoration: none;
  line-height: 40px;
  text-align: center;
  color: white;
  background-color: #e8af00;
  border-radius: 10px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  font-weight: bold;
}

body footer {
  width: 100%;
  background-color: #27282A;
  color: white;
  padding: 50px 0px 10px 0px;
}

body footer .container {
  width: 70%;
  margin: auto;
}

body footer .container .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  padding: 0px 0px 100px 0px;
}

body footer .container .content .left-side * {
  margin: 0px 0px 10px 0px;
}

body footer .container .content .left-side h2 {
  font-size: 30px;
  font-weight: 300;
}

body footer .container .content .left-side h3 {
  font-size: 20px;
  font-weight: 300;
}

body footer .container .content .left-side input[type=email] {
  width: 100%;
  height: 40px;
  border: none;
  padding-left: 10px;
  font-size: 15px;
}

body footer .container .content .left-side input[type=button] {
  height: 40px;
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  border: none;
  background-color: #FFD34A;
}

body footer .container .content .middle h2 {
  width: 100%;
  text-align: center;
  font-family: Pacifico;
  font-size: 30px;
}

body footer .container .content .middle h3 {
  width: 100%;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}

body footer .container .content .middle .social {
  display: flex;
  justify-content: center;
  width: auto;
  margin: auto;
}

body footer .container .content .middle .social a {
  margin: 10px;
  color: white;
  font-size: 30px;
}

body footer .container .content .right-side * {
  margin: 0px 0px 10px 0px;
}

body footer .container .content .right-side h2 {
  text-transform: uppercase;
  font-weight: 300;
}

body footer .container .content .right-side h4 {
  font-weight: 300;
}

body footer .container .content .right-side .bold {
  font-weight: bold;
}

body footer .container .copyright h4 {
  font-weight: 300;
  margin: 20px 0px;
  text-align: center;
  width: 100%;
}

@media (max-width: 1300px) {
  body header .container {
    width: 95%;
  }

  body footer .container {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  body #product-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 1500px;
  }
}

@media (max-width: 980px) {
  body header .c2r1 {
    grid-template-columns: 4fr 1fr;
  }

  body header .container nav ul {
    position: absolute;
    top: 70px;
    background-color: white;
    left: 1300px;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
    opacity: 0.95;
    z-index: 20;
    display: inline;
  }

  body header .container nav ul li {
    width: 100%;
    margin: 0;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #F0F0F0;
  }

  body header .container nav ul li.active-page {
    background-color: #e8af00;
    color: white;
  }

  body header .container nav .menu-trigger {
    display: block;
    color: black;
  }

  body #welcome .c2r1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  body #welcome .c2r1 h2 {
    text-align: center;
  }

  body #welcome .c2r1 h3 {
    text-align: center;
  }

  body #welcome .c2r1 p {
    text-align: center;
  }

  body #gallery-content .container {
    width: 80%;
  }

  body #contact .container {
    width: 90%;
  }

  body footer .container .content {
    padding: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  body footer .container .content .right-side * {
    text-align: center;
  }

  body #product-content {
    height: 1200px;
  }
}

@media (max-width: 800px) {
  body #menu-content .container .menu {
    grid-template-columns: 1fr;
    grid-template-rows: repeat 6, 1fr;
  }

  body #gallery-content .container .gallery #image1 {
    grid-column: 1/13;
    grid-row: 1/3;
  }

  body #gallery-content .container .gallery #image2 {
    grid-column: 1/13;
    grid-row: 3/5;
  }

  body #gallery-content .container .gallery #image3 {
    grid-column: 1/13;
    grid-row: 5/7;
  }

  body #gallery-content .container .gallery #image4 {
    grid-column: 1/13;
    grid-row: 7/9;
  }

  body #gallery-content .container .gallery #image5 {
    grid-column: 1/13;
    grid-row: 9/11;
  }

  body #gallery-content .container .gallery #image6 {
    grid-column: 1/13;
    grid-row: 11/13;
  }

  body #contact .container .contact-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  body #product-content {
    height: 1200px;
  }
}

@media (max-width: 700px) {
  body #our-team .container .team {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  body #product-content {
    height: 1200px;
  }
}

@media (min-width: 2000px) {
  body header .container {
    width: 1700px;
  }

  body #title-image {
    height: 800px;
  }

  body #welcome .container {
    width: 1700px;
  }

  body #our-team .container {
    width: 1700px;
  }

  body #menu-content .container {
    width: 1700px;
  }

  body #gallery-content .container {
    width: 1200px;
  }

  body #our-story .container {
    width: 1700px;
  }

  body #about-us .container {
    width: 1700px;
  }

  body #contact .container {
    width: 1700px;
  }

  body footer .container {
    width: 1700px;
  }
}

